.header {
  position: relative;
  padding-bottom: 80px;
  height: 100vh;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  &__top {
    justify-content: space-between;
  }

  &__menu {
    flex: 1 0 0;
  }

  &__menu-list {
    list-style: none;
    justify-content: space-between;
  }

  &__menu-item {
    padding: 40px 30px;
  }

  &__menu-link {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }

  &__logo {
    margin: 25px 35px 0;
  }

  &__middle {
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  &__timetable {
    margin-left: 40px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  &__center {
    text-align: center;
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__btn {
    max-width: 160px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__bottom {
    text-align: center;
  }

  &__down-btn {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.4s;

    &::before {
      content: "";
      position: absolute;
      left: -10px;
      top: -10px;
      width: 60px;
      height: 60px;
      border: 1px solid rgba(#fff, 0.2);
      border-radius: 50%;
      transition: border 0.1s;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:focus {
      outline: transparent;

      &::before {
        border: 4px solid rgba(#fff, 0.4);
      }
    }
  }

  &__btn-svg {
    width: 12px;
    height: 9px;
  }
}