.menu {
  text-align: center;

  &__category {
    padding: 20px 3.2%;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba($dark, 0.2);

    &:hover {
      background-color: #ddd;
    }

    &:focus {
      outline: none;
      background-color: $yellow;
    }

    &:last-of-type {
      border-right: 1px solid transparent;

      @include tablet-landscape-down {
        border-right: 1px solid  rgba($dark, 0.2);
      }
    }

    @include tablet-landscape-down {
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 20px 27px;
      border: 1px solid rgba($dark, 0.2);
    }
  }

  &__list {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    column-count: 3;
    column-gap: 4.2%;

    @include desctop-down {
      margin-left: 50px;
      column-count: 2;
    }

    @include tablet-landscape-down {
      margin-left: 13%;
      column-count: 1;
    }

    @include phone {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  &__name,
  &__dots,
  &__price {
    display: inline-block;
  }

  &__item {
    padding: 15px 0;
    font-family: "Banny", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $dark;

    @include tablet-landscape-down {
      font-family: inherit;
    }
  }

  &__name {
    max-width: 255px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    @include desctop-down {
      max-width: 65%;
    }

    @include phone {
      max-width: 100%;
    }

    &::after {
      content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";

      @include phone {
        display: none;
      }
    }
  }

  &__price {
    padding: 0 5px;
    vertical-align: top;

    @include phone {
      padding: 0;
    }
  }

  &__descr {
    display: block;
    max-width: 255px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: $placeholder;
    text-transform: initial;
  }
}