.section {
  padding: 100px 0;

  &:nth-of-type(even) {
    position: relative;
    padding: 43px 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    .section__inner {
      flex-direction: row-reverse;
    }

    .section__content {
      margin-right: 0;
      margin-left: 80px;
    }

    .section__img-wrapper {
      margin-right: 0;
      margin-left: 124px;

      &::after {
        left: -26%;
        right: unset;
      }
    }
  }

  &__title {
    margin: 0 auto 43px;
    width: fit-content;
  }

  &__inner {
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-right: 80px;
    text-align: center;
  }

  &__text {
    line-height: 24px;

    &--bold {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }

    &--narrow {
      max-width: 550px;
      margin: 25px auto 50px;
    }
  }

  &__img-wrapper {
    position: relative;
    margin-right: 124px;
    max-width: 475px;
    max-height: 475px;

    &::after {
      content: "";
      position: absolute;
      right: -26%;
      top: 50%;
      transform: translateY(-50%);
      width: 250px;
      height: 250px;
      border: 20px solid $yellow;
      border-radius: 5px;
    }

    &--mb {
      margin-bottom: 50px;
    }
  }

  &__img {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: 475px;
    max-height: 475px;
  }

  // form

  &__form {
    margin-top: 20px;
    margin-right: -5px;
    font-size: 0;
  }

  &__label {
    font-size: 0;
  }

  &__input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 14px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;


    &::placeholder {
      color: $placeholder;
      font-size: 14px;
    }

    &[type="date"] {
      padding: 16px;
    }
  }

  &__select {
    appearance: none;
    background-image: url(../../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 93% center;

    &:required:invalid {
      color: $placeholder;
    }

    &:invalid > option[value=""][disabled] {
      display: none;
    }
  }

  &__option {
    color: #000;
  }

  &__textarea {
    display: block;
    width: 100%;
  }

  // end form

  &__extra-text {
    margin-top: 50px;
    margin-bottom: -55px;
    font-size: 12px;
    color: $placeholder;
    text-align: center;
    font-style: normal;

    &--bold {
      font-weight: 700;
    }
  }

}