.section {
  padding: 100px 0;

  @include desctop-down {
    padding: 50px 0;
  }

  &:nth-of-type(even) {
    position: relative;
    padding: 43px 0 100px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 0;

    @include desctop-down {
      padding: 50px 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }

    .section__inner {
      flex-direction: row-reverse;

      @include tablet-landscape-down {
        flex-direction: column;
      }
    }

    .section__content {
      margin-right: 0;
      margin-left: 80px;

      @include desctop-down {
        margin-left: 30px;
      }

      @include tablet-landscape-down {
        margin-left: 0;
      }
    }

    .section__img-wrapper {
      margin-right: 0;
      margin-left: 124px;

      @include desctop-down {
        margin-left: 0;
      }

      &::after {
        left: -26%;
        right: unset;
      }
    }
  }

  &__title {
    margin: 0 auto 43px;
    width: fit-content;
  }

  &__inner {
    justify-content: space-between;
    align-items: center;

    @include tablet-landscape-down {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 80px;
    text-align: center;

    @include desctop-down {
      margin-right: 30px;
    }

    @include tablet-landscape-down {
      margin-right: 0;
    }
  }

  &__text {
    line-height: 24px;

    &--bold {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }

    &--narrow {
      max-width: 550px;
      margin: 25px auto 50px;
      text-align: center;

      @include phone {
        margin: 20px 0;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    margin-right: 124px;

    @include desctop-down {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      right: -26%;
      top: 50%;
      transform: translateY(-50%);
      width: 250px;
      height: 250px;
      border: 20px solid $yellow;
      border-radius: 5px;

      @include desctop-down {
        display: none;
      }
    }

    &--mb {
      margin-bottom: 50px;
    }
  }

  &__img {
    --size: 475px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: var(--size);
    max-height: var(--size);

    @include desctop-down {
      --size: 375px;
    }

    @include phone {
      --size: 275px;
    }
  }

  // form

  &__form {
    margin-top: 20px;
    font-size: 0;

    @include tablet-landscape-down {
      margin-bottom: 20px;
    }
  }

  &__label {
    font-size: 0;
  }

  &__input {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 14px;
    line-height: 1em;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;

    &::placeholder {
      color: $placeholder;
      font-size: 14px;
    }

    &[type="date"] {
      padding: 16px;
    }

    &:hover,
    &:focus {
      outline: none;
      background-color: darken(#e5e5e5, 10);
    }
  }

  &__select {
    appearance: none;
    background-image: url(../../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 93% center;

    &:required:invalid {
      color: $placeholder;
    }

    &:invalid > option[value=""][disabled] {
      display: none;
    }
  }

  &__option {
    color: #000;
  }

  &__textarea {
    display: block;
    width: 100%;
  }

  &__form-btn {
    position: relative;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    overflow: hidden;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      right: 100%;
      bottom: 0;
      background-color: darken($yellow, 10);
      transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
      z-index: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      background-image: url("https://image.flaticon.com/icons/png/128/109/109617.png");
      position: absolute;
      top: 0;
      left: 83%;
      right: 20%;
      bottom: 0;
      background-size: 1.5em;
      background-repeat: no-repeat;
      background-position: center;
      transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    }

    &:hover {
      box-shadow: none;

      &::before {
        left: 80%;
        right: 0;
        transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      }

      &::after {
        right: 0;
        transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
      }
    }
  }

  // end form

  &__extra-text {
    margin-top: 50px;
    margin-bottom: -55px;
    font-size: 12px;
    line-height: 22px;
    color: $placeholder;
    text-align: center;
    font-style: normal;

    @include desctop-down {
      margin-top: 40px;
      margin-bottom: -15px;
    }

    &--bold {
      font-weight: 700;
    }
  }
}