.logo {
  display: inline-block;

  &--mobile {
    display: none;

    @include tablet-landscape-down {
      display: block;
    }
  }

  &__img {
    --size: 150px;
    width: var(--size);
    height: var(--size);

    @include phone {
      --size: 110px;
    }
  }
}

.book {

  &__input {
    width: calc(100% / 2 - 5px);

    &:nth-of-type(2) {
      margin-right: 0;
    }

    @include phone {
      width: 100%;
    }
  }

  &__select {
    margin-right: 0;
  }
}

// slider

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(#fff, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

// end slider

.events {

  &__title {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 25px 20px 25px 20px;
    height: 100%;
    font-family: "Banny", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #000;
    writing-mode: vertical-lr;

    @include tablet-landscape-down {
      left: 0;
      height: auto;
      writing-mode: horizontal-tb;
    }
  }

  &__img-wrapper {

    @include tablet-landscape-down {
      margin-bottom: 10px;
      border: 1px solid $translucent;
      border-radius: 5px;
    }

    &:nth-of-type(even) {
      
      .events__title {
        right: unset;
        left: 0;
        transform: rotate(180deg);

        @include tablet-landscape-down {
          right: 0;
          transform: rotate(0deg);
        }
      } 
    }
  }

  .section__extra-text {
    color: $translucent;
  }
}

.section.events {

  .section__inner {
    flex-direction: row;

    @include desctop-down {
      justify-content: space-around;
    }

    @include tablet-landscape-down {
      flex-direction: column;
    }
  }
  
  .events__img-wrapper {
    
    &:nth-child(even) {
      margin-right: 124px;
      margin-left: 0;

      @include desctop-down {
        margin-right: 0;
      }
  
      &::after {
        left: unset;
        right: -26%;
      }
    }
  }
}

.gallery {
  display: flex;
  

  @include tablet-landscape-down {
    flex-wrap: wrap;
  }

  &__img {
    width: calc(100% / 4);
    height: fit-content;
    max-height: 360px;
    object-fit: cover;

    @include desctop-down {
      margin-top: 10px;
      margin-right: 10px;
      width: calc(100% / 4 - 30px / 4);
      max-height: 250px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include tablet-landscape-down {
      
      width: calc(100% / 2 - 5px);

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

.contact {

  &__input {
    width: calc(100% / 3 - 20px / 3);

    &:last-of-type {
      margin-right: 0;
    }

    @include phone {
      width: 100%;
    }
  }

  &__form-wrapper {
    justify-content: space-between;
    align-items: center;

    @include tablet-landscape-down {
      flex-direction: column;
    }
  }

  &__address {

    @include tablet-landscape-down {
      order: 2;
      margin-top: 10px;
    }
  }

  &__address-list {

    @include tablet-landscape-down {
      display: block;
    }
  }

  &__address-svg {
    margin-right: 7px;
    width: 1em;
    height: 1em;
    fill: $yellow;
    font-size: 14px;
    vertical-align: sub;
  }

  &__address-item {
    margin-right: 15px;

    @include tablet-landscape-down {
      padding: 7px 0;
    }
  }

  &__form-btn {
    flex-grow: 1;
    width: auto;

    &::after {
      background-image: url(../../img/svg-separate/envelope.svg);
    }

    @include tablet-landscape-down {
      width: 100%;
      order: 1;
    }
  }
}

.section.contact {
  color: #000;

  &::before {
    background-color: transparent;
  }
}

.map-section {
  
  &__map {
    width: 99vw;
    height: 575px;

    @include desctop-down {
      height: 350px;
    }
  }
}