.book {

  &__input {
    width: calc(100% / 2 - 11px);
  }
}

// slider

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(#fff, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 10px;
  }
}

// end slider

.events {

  &__title {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 25px 20px 25px 20px;
    height: 100%;
    font-family: "Banny", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #000;
    writing-mode: vertical-lr;
  }

  &__img-wrapper {

    &:nth-of-type(even) {

      .events__title {
        right: unset;
        left: 0;
        transform: rotate(180deg);
      } 
    }
  }

  .section__extra-text {
    color: $translucent;
  }
}

.section.events {

  .section__inner {
    flex-direction: row;
  }
  
  .events__img-wrapper {
  
    &:nth-child(even) {
  
      &::after {
        left: unset;
        right: -26%;
      }
    }
  }
}

.gallery {
  display: flex;

  &__img {
    width: calc(100% / 4);
    height: fit-content;
    max-height: 360px;
    object-fit: cover;
  }
}

.contact {
  

  &__input {
    width: calc(100% / 3 - 20px / 3);

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__form-wrapper {
    justify-content: space-between;
    align-items: center;
  }

  &__address-svg {
    margin-right: 7px;
    width: 1em;
    height: 1em;
    fill: $yellow;
    font-size: 14px;
    vertical-align: top;
  }

  &__address-item {
    margin-right: 15px;
  }

  &__form-btn {
    flex-grow: 1;
    width: auto;
  }
}

.section.contact {
  color: #000;

  &::before {
    background-color: transparent;
  }
}

.map {
  width: calc(100vw - 17px);
}