.social {

  @include phone {
    margin-top: 20px;
    order: 2;
  }

  &__list {
    list-style: none;

    @include phone {
      display: flex;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #fff;
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @include phone {
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 50%;
  }
}